# Sensitive Environment Credentials
.env
.env.local

# Virtual Environments
env/
venv/
.venv/
ENV/

# Python Cache and Compiled Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database Backups (In case SQLite is used temporarily)
db.sqlite3
db.sqlite3-journal

# Code Editor and IDE Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System System Files
.DS_Store
Thumbs.db
